@{
    ViewData["Title"] = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model XTweb.Models.SanPham
<h2>Chi Tiết Sản Phẩm</h2>
<!--Chi Tiet San Pham-->
<section class="mt-5">
    <div class="container">
        <div class="Product-detail">
            <div class="Product-item">
                <div class="col">
                    <input class="imgdetail" type="image" src="@Model.HinhAnh" alt="">
                </div>
            </div>
            <div class="title">
                <div class="col">
                    <div class="title_read">
                        <img src="../wwwroot/image/shopping-cart.png" alt="">
                        @* <input style="margin-left: 0; border:#f5f5f5" type="text" name="@Model.TenSanPham" id="titleProduct"> *@
                    </div>
                </div>
                <div style="margin-top: 10px">
                    @* <div class="price">
                        @Model.Gia
                    </div> *@
                </div>
                <!-- Mo ta-->
                <div>
                    <h3 class="h3_sp">Mô tả sản phẩm</h3>
                    @* <textarea readonly style="width: 550px; overflow-y:hidden" name="@Model.MoTaSanPham " id="MoTaTextarea" cols="30"
                              rows="9"></textarea> *@
                </div>
                <!--Loai hang-->
                <div style="margin-top:20px;">
                    <div class="col">
                        <div class="type">
                            <h3 class="h3_sp">Loại</h3>
                            @* <input style="width:107px; display: inline-block;" type="text" name="@Model.MaDanhMucNavigation?.TenDanhMuc"
                                   id="LoaiHang"> *@
                        </div>
                    </div>
                </div>
                <!--So luong-->
                <div class="col" style="margin-bottom: 25px;">
                    <div class="number">
                        <h3 class="h3_sp">Số lượng</h3>
                        @* <input class="button_number" min="1" value="1" type="number" name="@Model.SoLuong" id=""> *@
                    </div>
                </div>
                <!--Button mua-->
                <div class="col">
                    <div class="number">
                        <button class="button_add_buy">
                            <div class="col">
                                <div class="button_justify">
                                    <img src="./img/btn_shopping.png" alt=""> Thêm vào giỏ hàng
                                </div>
                            </div>
                        </button>
                        <button class="button_buy">Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>