@{
    ViewData["Title"] = "chitietdichvu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int soluongmua = 1;
}

@model XTweb.Models.SanPham
<!--banner -->
<div class="slider mt-5">
    <div class="slider-height d-flex align-items-center justify-content-center">
        <div class="herocap">
            <h2 style="font-size: 50px; font-weight:700; color: #fff">Chi Tiết Sản Phẩm </h2>
        </div>
    </div>
</div>
<!--Chi Tiet San Pham-->
<div class="container-fluid">
    <div class="Product-detail">
        <div class="Product-item">
            <div class="col">
                <img class="imgdetail" src="@Model.HinhAnh" />
            </div>
        </div>
        <div class="title">
            <div class="col">
                <div class="title_read">
                    <h2 style=" color:black; padding-left:0;"> <strong>@Model.TenSanPham</strong> </h2>
                </div>
            </div>
            <div style="margin-top: 10px">
                <div class="price">
                    @Model.Gia
                </div>
            </div>
            <!-- Mo ta-->
            <div>
                <h3 class="h3_sp">Mô tả sản phẩm</h3>
                <textarea readonly style="width: 550px; overflow-y:auto;border:none;outline:none;font-size:0.95rem;resize:none" id="MoTaTextarea" cols="30"
                          rows="9">@Model.MoTaSanPham </textarea>
            </div>
            <!--Loai hang-->
            <div style="margin-top:20px;">
                <div class="col">
                    <div class="type">
                        <h3 class="h3_sp">Loại</h3>
                        <div class="button_number" style="width:107px; display: inline-block;">@Model.MaDanhMucNavigation?.TenDanhMuc</div>
                    </div>
                </div>
            </div>
            <!--So luong-->
            <div class="col" style="margin-bottom: 25px;">
                <div class="number">
                    <h3 class="h3_sp">Số lượng Còn lại</h3>
                    <div class="button_number">@Model.SoLuong</div>
                </div>
            </div>
            <!--Button mua-->
            <div class="col">
                <div class="number">
                    <button class="button_add_buy" style="background-color:red;">
                        <div class="col">
                            <a class="button_justify" style="text-decoration:none;color:white;" asp-controller="GioHang" asp-action="AddToCart" asp-route-masanpham="@Model.MaSanPham" asp-route-soluongmua="@soluongmua">
                                <i style="color:white;" class="fi fi-sr-shopping-cart-add"></i> Thêm vào giỏ hàng
                            </a>
                        </div>
                    </button>
                    <button class="button_buy">
                        <div class="col">
                            <div class="button_justify">
                                <i style="color:white;margin-left:40px;" class="fi fi-sr-cart-shopping-fast"></i>
                                <a asp-action="Checkout" asp-controller="GioHang">
                                    <span style="margin-left:5px;">Mua ngay</span>
                                </a>
                                
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>