@{
    ViewData["Title"] = "dichvu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>

<!--banner -->
<div class="slider mt-5">
    <div class="slider-height d-flex align-items-center justify-content-center">
        <div class="herocap">
            <h2 style="font-size: 50px; font-weight:700; color: #fff"> Sản Phẩm </h2>
        </div>
    </div>
</div>
<!-- Product -->
<div class="service__container">
    <div class="col-lg-6 col-md-10 pt-5">
        <div class="section_title text-center mb-5">
            <h3><strong>@ViewBag.tenloai</strong></h3>
        </div>
        <div class="card__container">
            @foreach (var item in Model)
            {
                <article class="card__article">
                    <img src="@item.HinhAnh" alt="image" class="card__img">
                    <div class="card__data">
                        <h2 class="card__title" style="color: CaptionText">@item.TenSanPham</h2>
                        <div class="mt-3">
                            <strong style="color: red; margin-right:100px">Giá: @item.Gia</strong>
                            <a asp-controller="User" asp-action="chitietsanpham" asp-route-id="@item.MaSanPham" class="card__button"></a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
    <div class="pagination-1">
        @Html.PagedListPager(Model, page => Url.Action("dichvu", new { page = page, maloai = ViewBag.maloai }))
    </div>
</div>

