@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--thanh toán-->
@model XTweb.Models.LichHen
<section class="bill_perform">
    <div class="container">
        <div class="align-items-center mt-3 mb-4">
            <div class="text-center">
                <h2>HÓA ĐƠN</h2>
            </div>
            <form class="bill_form" method="post" asp-action="Checkout" asp-controller="User">
                <div class="mt-3">
                    <label style="margin-left:0 auto; margin-top: 3px;">Tên khách hàng</label>
                    <input type="text" id="name" name="customername" value="@Model.MaKhachHangNavigation.HoTen" required>
                    <label style="margin-left: 0 auto">Số điện thoại</label>
                    <input type="tel" id="phone" name="customerphone" value="@Model.MaKhachHangNavigation.Sdt" required>
                    <label style="margin-left: 0 auto">Ngày giờ hẹn</label>
                    <input type="datetime-local" id="date" name="datetime" value="@Model.NgayHen.ToString("yyyy-MM-ddTHH:mm")" required>
                    <br>
                    <label style="margin-left: 0 auto">Tổng tiền</label>
                    <input type="number" id="Tong" name="TongTien" value="@Model.MaDichVuNavigation.Gia">
                    <label style="margin-left: 0 auto">Phương thức thanh toán</label>
                    <br>
                    <div class="button_display">
                        <input type="submit" name="payment" class="COD" value="COD" />
                        <input type="submit" name="payment" class="VNPay" value="VNPay" />
                        <input type="submit" name="payment" class="Momo" value="Momo" />
                    </div>
                    <input type="hidden" id="malichhen" name="malichhen" value="@Model.MaLichHen">
                </div>
                <a style="color: blue; margin-left:340px; margin-top:20px; margin-bottom:10px" aria-current="page" asp-controller="User" asp-action="Index">Quay Lại</a>
            </form>
        </div>
    </div>
</section>


