@model XTweb.Models.SanPham
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Display San Pham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Chi Tiết Sản Phẩm</h2>
<h4>@Model.TenSanPham</h4>
<hr />
<div class="container-view">
    <div class="left-site">
        <div>
            @if (!string.IsNullOrEmpty(Model.HinhAnh))
            {
                <img src="@Model.HinhAnh" alt="Product Image" style="max-width: 200px;" />
            }
        </div>
    </div>
    <div action="right-site">
        <p> <b>Tên Sản Phẩm:</b> @Model.TenSanPham</p>
        <p> <b>Mô tả:</b> @Model.MoTaSanPham</p>
        <p> <b>Giá:</b> @Model.Gia</p>
        <p> <b>Số Lượng:</b> @Model.SoLuong</p>
        <p> <b>Loại:</b> @Model.MaDanhMucNavigation.TenDanhMuc</p>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="UpdateSanPham" asp-controller="Admin" asp-route-id="@Model.MaSanPham">Edit</a>
    <a class="btn btn-primary" asp-action="sanpham">Back to List</a>
</div>
