@model XTweb.Models.DichVu
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Display Dich Vu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Chi Tiết Dịch Vụ</h2>
<h4>@Model.TenDichVu</h4>
<hr />
<div class="container-view">
    <div class="left-site">
        <div>
            @if (!string.IsNullOrEmpty(Model.AnhDichVu))
            {
                <img src="@Model.AnhDichVu" alt="Product Image" style="max-width: 200px;" />
            }
        </div>
    </div>
    <div action="right-site">
        <p> <b>Tên Dịch Vụ:</b> @Model.TenDichVu</p>
        <p> <b>Giá:</b> @Model.Gia</p>
        <div>
            <a class="btn btn-primary" asp-action="UpdateDichVu" asp-controller="Admin" asp-route-id="@Model.MaDichVu">Edit</a>
            <a class="btn btn-primary" asp-action="dichvu">Back to List</a>
        </div>
    </div>
</div>

