@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<XTweb.Models.HoaDonDichVu>
<h2 style="max-width:1330px; font-size: 50px; background-color:blanchedalmond;margin:0;padding-bottom:10px;padding-left:5px;position: fixed;">
    Hóa Đơn Dịch Vụ
</h2>
<hr style="margin-top:0;" />
<table class="content-table" style="margin: 0 auto">
    <thead>
        <tr>
            <th>Tên Khách Hàng</th>
            <th>Dịch Vụ</th>
            <th>Thời Gian Thanh Toán</th>
            <th>Tổng Tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaLichHenNavigation.MaKhachHangNavigation .HoTen</td>
                <td>@item.MaLichHenNavigation.MaDichVuNavigation.TenDichVu</td>
                <td>@item.NgayThanhToan</td>
                <td>@item.TongTien</td>
                <td style="text-align: center">
                    <a class="btn-table" asp-action="DisplayLichHen" asp-controller="Admin" asp-route-id="@item.MaLichHen">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>